/* AddProduct.css */
.add-product-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

.add-product-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.add-product-header h1 {
    font-size: 24px;
    color: #333;
}

.add-product-header a {
    background-color: #67b246;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.add-product-header a:hover {
    background-color: #559c36;
}

.add-product-form label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #555;
}

.add-product-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.add-product-form button {
    width: 100%;
    padding: 10px;
    background-color: #67b246;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-product-form button:hover {
    background-color: #559c36;
}
